@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;

}

.clearfix:after {
  clear: both;
  display: block;
  content: '';
}
img{
  vertical-align: middle;
}

.site-bn-bar, a {
  width: 100%;
  img {
    width: 100%;
    /*vertical-align: middle;*/
  }
}

.site-topbar {

  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  span {
    margin: 0 9px 0 8px;
    color: #424242;
  }
  a {
    color: #b0b0b0;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }

  background: #333;
  .con {
    width: 1226px;
    margin: 0 auto;
    .topbar-nav {
      float: left;

    }
    .topbar-cart {
      float: right;
      width: 120px;
      margin-left: 25px;
      position: relative;
      .cart-mini {
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #b0b0b0;
        background: #424242;
        span{
          color: #b0b0b0;
          margin: 0;
        }

        &:hover {
          background-color: #fff;
          color: orangered;
          span{
            color: orangered;
          }
        }
      }
      .xianshi {
        display: none;
        position: absolute;
        right: 0;
        top: 40px;
        z-index: 31;
        width: 310px;
        height: 100px;
        text-align: center;
        color: #424242;
        background: #fff;
        border: 1px solid #e0e0e0;
        border-top: 0;
        -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      }
    }
  }
  .topbar-info {
    float: right;
    .xiaoxi{
      margin-left: 3px;
    }
  }
}
.site-header{
  width: 100%;
  position: relative;
  .con{
    width: 1226px;
    margin: 0 auto;


    padding-bottom: 12px; ;
    .header-logo{
      float: left;
      width: 62px;
      margin-top: 23px;
      .logo{
        display: block;
        width: 55px;
        height: 55px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .img{
      float: left;
      margin-top: 23px;
      height: 55px;
      img{
        height: 100%;
      }
    }
    .header-nav{
      float: left;
      .nav-list{
        margin-top: 23px;
        margin-left: 45px;
        list-style: none;
        float: left;
        height: 55px;
        line-height: 55px;

        font-size: 15px;
        .img{
          width: 127px;
          padding-right: 15px;
        }
        li{
          float: left;
          margin-right: 15px;
          a{
            color: black;
            text-decoration: none;
            &:hover{
              color: orangered;
            }
          }
        }
      }

    }
    .header-search{
      float: right;
      margin-top: 23px;

      .search{
        position: relative;
        width: 243px;
        height: 50px;
        padding: 0 10px;
        border: 1px solid #e0e0e0;
        border-right: 0;
        font-size: 14px;
        line-height: 48px;
        outline: 0;
        float: left;
      }
      .text{
         display: block;
         width: 95px;
         height: 18px;
         text-align: center;
         line-height: 18px;
        position: absolute;
        background-color: #eeeeee;
        top: 40px;
        color: #757575;
       }
        .search_l{
          right: 127px;
        }
      .search_r{
        right: 230px;
      }
      .sub{
        float: left;
        width: 52px;
        height: 50px;
        border: 1px solid #e0e0e0;
        font-size: 24px;
        line-height: 24px;
        background: #fff;
        color: #616161;
        outline: 0;
      }
    }
  }
}
.header-nav-menu{
  width: 100%;
  height: 229px;
  border-top: 1px solid #e0e0e0;
  /*  background: #fff;*/
  position: absolute;
  top: 240px;
  left: 0;
  z-index: 24;
  background-color: orange;
  display: none;
  /* .show{
    display: block;
  }*/
  div{
    width: 100%;
    height: 100%;
    font-size: 30px;
    display: none;
    text-align: center;
  }
}
.home-hero-container{
  position: relative;
  width: 100%;
  .home-hero{
    width: 1226px;
    margin: 0 auto;
    .ui-wrapper{
      width: 100%;
      .box {
        width: 100%;
        height: 460px;
        position: relative;
      }
      .box ul {
        position: relative;
      }
      .box ul li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        float: left;
        opacity: 0;
      }
      /* .box ul li img{width:100%;height:100%;}*/

      .box ol {
        position: absolute;
        right: 0;
        bottom: 10px;
        z-index: 2;
      }
      .box ol li {
        width: 20px;
        height: 20px;
        float: left;
        border: 1px solid #fff;
        background:rgba(0,0,0,0.1);
        margin-right: 10px;
        border-radius: 50%;
        cursor: pointer;
      }
      .box ol li.active {
        background: #fff;
        color: #fff;
      }
    }
    .site-category{
      position: absolute;
      z-index: 23;
      width: 234px;
      height: 460px;
      font-size: 14px;
      background:rgba(0,0,0,0.3);
      .site-list{
        padding: 20px 0;
        list-style-type: none;
        .title{
          position: relative;
          display: block;

          height: 42px;
          line-height: 42px;
          color: #fff;
          text-decoration: none;
          &:hover{
            background-color: orange;
          }
          span{
            margin-left: 30px;
          }
          i{
            position: absolute;
            top: 12px;
            right: 20px;
            font-size: 16px;
            line-height: 16px;
            color: #e0e0e0;
          }
        }

      }
    }
    .home-hero-sub{
      margin-top: 14px;
      .span00{
        width: 234px;
        height: 170px;
        float: left;
        position: relative;
        .span1{
         position: absolute;
          border-radius: 50%;
        display: block;
        width: 20px;
        height: 20px;
        background-color:  #5f5750;
      }
        .s1{
          top: 75px;
          left: 72px;
        }
        .s2{
          top: 75px;
          left:142px;
        }
        ul{
          /*margin: 0;*/
         /* padding: 3px 3px 3px 13px;*/
          padding: 14px;
          float: left;
          list-style-type: none;
          font-size: 12px;
          text-align: center;
          background: #5f5750;


          .bb{
            border-bottom: 1px solid #665e57;
            padding-bottom: 18px;
          }
          .tt{

            padding-top: 19px;
          }
          .lr{
            border-left: 1px solid #665e57;
            border-right: 1px solid #665e57;
          }
          li{
            float: left;
           /* border: solid 1px;*/
            padding: 10px;
          /* width: 70px;
            height: 82px;
           /!* padding: 0 3px;*!/*/

            a:hover{
            color: #fff;
          }
            a{
             /* border: 1px solid;*/
              display: block;
             /* padding-top: 18px;
              text-overflow: ellipsis;
              white-space: nowrap;*/
              color: #cdcac8;
              text-decoration: none;

              i{
                font-size: 2rem;

              }
            }
          }
        }
      }
      .right{
        float: left;
        ul{
          margin: 0;
          padding: 0;
          list-style-type: none;
          li{
            float: right;
            transition: box-shadow .2s linear;
            margin-left: 14px;
            &:hover{
              box-shadow: 0 10px 15px 10px rgba(0,0,0,0.1) ;
            }
            a{
              display: block;
              width: 316px;
              height: 170px;
              img{
                width: 100%;
                height: 100%;

              }
            }
          }
        }
      }
    }
  }

}

.qingfu:after {
   display: block;
   clear: both;
   content: ''
 }

.PageBody {
  width: 100%;

  .content-Top {
   max-width:1200px;
    margin: 0 auto;

    .con2{
      .con2-btn{
        ul{
          list-style: none;
          display: flex;
          justify-content: space-between;

          li{
            background-color: #f0eef5;
            text-align: center;
            padding: 50px 0 10px;
            width: 220px;
            p{
              margin: 0;
            }
            p:nth-child(4){
              color: red;
            }
            p:nth-child(3){
              color:darkgrey;
              margin: 8px 0 10px;
            }
            p{
              font-size: 12px;
            }
              img{
                width:40%;
              }
          }
        }
      }
      h4{
        margin: 15px 0 10px 0;
        font-size: 14px;
        span:nth-child(1){
          float: left;
        }
        span:nth-child(2){
          float: right;
          display: flex;
          a{
            border: 1px solid darkgrey;
            padding: 0 10px;
            color: darkgrey;
          }
        }
      }
    }
  }
  .bottom{
    background-color: #f0eef5;
    .b1{
      width: 1200px;
      margin: 0 auto;
      padding-bottom: 50px;
      .b11{


      .top{
        padding-top: 45px;
        margin-top: 25px;
        h6{
          float: left;
        }
        ul{
          float: right;
          li{
            float: left;
            list-style: none;
            margin-left: 20px;
            a{
              color: darkgrey;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
    .b12{
      .l{
        float: left;
        width: 220px;
        margin-top: 25px;
        transition: .2s linear;
        &:hover{
          transform: translateY(-5px);
          box-shadow: 0 5px 15px 5px rgba(0,0,0,0.1) ;
        }
        img{
          width: 100%;
        }
      }
      .r{
        float: left;
        width: 980px;
        ul{
          width: 100%;
          list-style: none;
          li{
            transition: .2s linear;
            &:hover{
              transform: translateY(-5px);
              box-shadow: 0 5px 15px 5px rgba(0,0,0,0.1) ;
            }
            position: relative;
            text-align: center;
            width: 220px;
            padding: 52px 0 20px;
            background-color: white;
            font-size: 12px;
            float: left;
            margin-left: 25px;
            margin-top: 25px;

            .po{
              display: block;
              position: absolute;
              width: 45px;
              height: 20px;
              text-align: center;
              line-height: 20px;
              top: 0;
              left: 90px;
            }
            .po1{
              background-color: #b92c28;

            }
            .po2{
              background-color: green;
            }
            p{
              margin: 0;
            }
            .p1{
              color: gainsboro;
              margin: 5px 0 10px;
              font-size: 10px;
            }
            .p2{
              span{
                color: red;
              }
              del{
                color: gainsboro;
              }
            }
          }
          .li88{
            background-color: #f5f5f5;
            padding: 0;

            .pp{
              background-color: #fff;
              padding: 33px 20px;
              text-align: left;
              p{
                float: left;
              }
             .p1{
               font-size: 16px;
               margin-right: 20px;
               color: black;

             }
              .p2{
                width: 60px;
                img{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .div1{

        .div2{

          ul{

            list-style: none;
            .li22{
              width: 215px;
              padding: 0;
              img{
                width: 100%;
              }
            }
            .i{
              margin-left: 25px;

            }
            .li99{
              background-color: #f5f5f5;
              padding: 0;

              .pp{
                background-color: #fff;
                padding: 34px 20px;
                text-align: left;
                p{
                  float: left;
                }
                .p1{
                  font-size: 16px;
                  margin-right: 20px;
                  color: black;

                }
                .p2{
                  width: 60px;
                  img{
                    width: 100%;
                  }
                }
              }
            }
            li{
              transition: 0s;
              &:hover{
                transform: translateY(-5px);
                box-shadow: 0 5px 15px 5px rgba(0,0,0,0.1) ;
              }
              margin-top: 25px;
              padding: 45px 0 28px;
              text-align: center;
              width: 220px;
              background-color: white;
              font-size: 12px;
              float: left;
              p{
                margin: 0;
              }
              .p1{
                color: gainsboro;
                margin: 5px 0 10px;
                font-size: 10px;
              }
              .p2{
                span{
                  color: red;
                }
                del{
                  color: gainsboro;
                }
              }
            }
          }
        }
    }
    .con2{
      .con2-btn{

        ul{
          list-style: none;
          display: flex;
          justify-content: space-between;
          li{
            background-color: #fff;
            text-align: center;
            padding: 50px 0 10px;
            width: 220px;
            p{
              margin: 0;
            }
            p:nth-child(4){
              color: red;
            }
            p:nth-child(3){
              color:darkgrey;
              margin: 8px 0 10px;
            }
            p{
              font-size: 12px;
            }
            img{
              width:40%;
            }
          }
        }
      }
      h4{
        margin: 15px 0 10px 0;
        font-size: 14px;
        span:nth-child(1){
          float: left;
        }
        span:nth-child(2){
          float: right;
          display: flex;
          a{
            border: 1px solid black;
            padding: 0 10px;
            color: darkgrey;
          }
        }
      }
    }
    .reping{
      h5{
        margin: 20px 0 10px;
      }
      .re{
        ul{
          display: flex;
          justify-content: space-between;
          list-style: none;
          li{
            width: 290px;
            background-color: white;
            .div3{
              width: 250px;
 /*             margin: 20px;*/
              margin: 0 auto;
              padding: 20px 0;
              .p1{
                font-size: 14px;
              }
              .p2{
                font-size: 10px;
                color: darkgrey;
                margin: 15px 0 10px;
              }
              .p3{
                font-size: 14px;
                span{
                  color: red;
                }
              }
            }
            div{
              width: 100%;
              img{
                width: 100%;
              }
            }
          }
        }
      }
    }
    .neirong{
      h5{
        margin: 20px 0 10px;
      }
      ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        li{
          padding: 30px 0 10px;
          background-color: white;
          width: 290px;
          text-align: center;
          p:nth-child(1){
            margin-bottom: 15px;
            color: orange;
          }
          p:nth-child(3),p:nth-child(4){
            font-size: 12px;
            color: darkgrey;
            margin: 2px 0;
          }
          p:nth-child(5){
            margin: 15px 0 10px;
          }
          p:nth-child(6){
            margin-bottom: 20px;
          }
        }
      }
    }
    .shiping{
      h4{
        display: flex;
        justify-content: space-between;
        margin: 25px 0 15px ;
        span{
          a{
            color: white;
            width: 15px;
            height: 10px;
            border-radius: 50%;
            background-color: darkgrey;
          }
        }
      }
      ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        li{
          background-color: white;
          width: 290px;
          text-align: center;
          position: relative;
          span{
            color: orange;
            position: absolute;
            left: 10px;
            bottom: 100px;
          }
          p{
            margin-top: 10px;
          }
          .p1{
            font-size: 14px;
          }
          .p2{
            font-size: 12px;
            color: darkgrey;
            margin-bottom: 20px;
          }
          div{
            img{
              width: 100%;

            }
          }
        }
      }
    }
  }
}
footer{
  .top{
    width: 1200px;
    margin: 0 auto;
    .nav{
      border-bottom: 1px solid black;
      ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        li{
          padding: 25px 0;
          font-size: 15px;
        }
      }
    }
  }
  .nav2{
    margin: 30px 0 15px;
    ul{
      float: left;
      list-style: none;
      li{
        float: left;
        margin-right: 100px;
        h4{
          font-size: 14px;
        }
        p{
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }
    .right{
      float: right;
      width: 220px;
      text-align: center;
      border-left: 1px solid black;
      p{
        font-size: 12px;
        margin-bottom: 10px;
      }
      h2{
          color: orangered;
        font-size: 18px;

      }
      div{
        width: 120px;
        margin: 0 auto;
        font-size: 14px;
        color: orange;
        border: 1px solid orange;
      }
    }
  }
  .btm{
    width: 1200px;
    margin: 0 auto;

    .foot{
      padding: 30px 0;
      font-size: 12px;

    }
    .img1{
      float: left;
      margin-right: 10px;
      color: #757575;
    }
    .you{
      float: right;
      margin-top: -60px;
    }
    .gb{
      border: 1px solid red;
      border-radius: 3px;
      padding: 1px 10px;
      color: red;
    }
    .bai{
      color: white;
      font-size: 25px;
    }
    .hom{
      background-color: red;
      padding: 10px 50px;
      color: white;
      border: 0px;
    }
    .xia{
      padding: 150px 150px;
    }
  }
}
p{
  margin: 0;
}